body{
font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1{
    color: blueviolet;
}

img{
    
        position: relative;
        left: 600px;
    
   
    
}
 img:nth-of-type(2){
        position: relative;
        top: 40px;
    }


    button{
        height: 60px;
        background-color: blueviolet;
        border-radius: 50px;
        position: relative;
        top: 60px;
        left: 600px;
    }


    h1:nth-of-type(2){
        position: relative;
        left: 650px;
    }


    a{
        text-decoration: none;
    color: blueviolet;
    font-size: 25px;
    position: relative;
    top: 190px;
    left: 350px;
    }


