
body{
  background-color: white;
}

.scoreTable{
  width: 460px;
  height: 430px;
  background-color: black;
  border-radius: 15px;
  position: relative;
  left: 550px;
  overflow-x: hidden;
  overflow-y: scroll;

}

.liverpool{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.arsenal{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
  
}
.Nottm-forest{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.Man-city{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}


.newcastle{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.chelsea{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.Bournemouth{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.Aston-villa{
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}

.fulham{ 
  font-size: 23px;
  position: relative;
  left: 25px;
  top: 20px;
}