table {

width: 100%;
height: 200%;
}


.a {
background-color: black;
color: whitesmoke;
}
.s{
background-color: black;
color: whitesmoke;
}
.d{
background-color: black;
color: whitesmoke;
}
.f{
background-color: black;
color: whitesmoke;
}
.g{
background-color: black;
color: whitesmoke;
}
.h{
background-color: blue;

}
.j{
background-color: blue;

}
.k{
background-color: blue;

}
.l{
background-color: blue;
}
.q{
background-color: blue;

}
.w{
background-color: darkgreen;

}
.e{
background-color: darkgreen;
}
.r{
 background-color: darkgreen;   
}
.t{
background-color: darkgreen;    
}
.y{
background-color: darkgreen;    
}
.u{
background-color: yellow;    
}
.i{
 background-color: yellow;   
}
.o{
background-color: yellow;
}
.p{
background-color: yellow;   
}
.z{
background-color: yellow;   
}
.x{
background-color: red;    
}
.c{
 background-color: red;   
}
.v{
background-color: red;
}
.b{
background-color: red;    
}
.n {
background-color: red;
}

.m {
 background-color: darkcyan;   
}
.a1{
 background-color:darkcyan ;   
}
.s1{
background-color: darkcyan;
}
.d1{
background-color: darkcyan;
}
.f1{
background-color: darkcyan;
}