


table {
width: 50%;
height: 100%;
}


.a {
background-color: aqua;
}


.s{
background-color: aquamarine;
}
.d{
background-color: darkblue;
}
.f{
background-color: darkgreen;
}
.g{
background-color: aquamarine;
}
.h{
background-color: aqua;
}
.j{
background-color: cyan;
}
.k{
background-color: darkgreen;
}
.l{
background-color: cyan;
}
.q{
background-color: darkgreen;
}
.w{
background-color: aquamarine;
}
.e{
background-color: cyan ;
}
.r{
background-color: cyan;
}
.t{
background-color:darkgreen;
}
.y{
background-color: aquamarine;
}
.u{
background-color: cyan;
}
.i{
background-color: cyan;
}
.o{
background-color: darkgreen;
}
.p{
background-color: aquamarine;
}
.z{
background-color: cyan;
}
.x{
background-color: cyan;
}
.c{
background-color: darkgreen;
}
.v{
background-color: aquamarine;
}
.b{
background-color: cyan;
}
.n{
background-color: cyan;
}
.m{
background-color: darkgreen;
}
.a1{
background-color: aquamarine;
}
.s1{
background-color: cyan;
}
.d1{
background-color: cyan;
}
.f1{
background-color: darkgreen;
}
.g1{
background-color: aquamarine;
}
.h1{
background-color: cyan;
}
.j1{
background-color: aqua;
}
.k1{
background-color: aqua;
}
.l1{
background-color: darkgreen;
}