
table {
width: 80%;
height: 100%;
}



th {
    background-color: blue;
}


.a{
background-color: lightskyblue;
}
.s{
    background-color: lightskyblue;
}
.d{
    background-color:lightskyblue;
}
.f{
    background-color: lightblue;
}
.g{
    background-color: lightskyblue;
}
.h {
    background-color: lightskyblue;
}
.r{
    background-color: lightskyblue;
}
.t{
    background-color: lightskyblue;
}
.y{
    background-color: lightskyblue;
}
.u{
    background-color: lightskyblue;
}
.i{
    background-color: lightskyblue;
}
.o{
    background-color: lightskyblue;
}
.n{
    background-color: lightskyblue;
}
.m{
    background-color: lightskyblue;
}
.a1{
    background-color: lightskyblue;
}
.s1{
    background-color: lightskyblue;
}
.d1{
    background-color: lightskyblue;
}
.f1{
    background-color: lightskyblue;
}
.w1{
    background-color: lightskyblue;
}
.e1{
    background-color: lightskyblue;
}

.r1{
    background-color: lightskyblue;
}

.t1{
    background-color: lightskyblue;
}
.y1{
    background-color: lightskyblue;
}
.u1{
    background-color: lightskyblue;
}