table{
border-collapse: collapse;
width: 50%;
text-align: center;
}
th {
    background-color: red;
}
.a{
    background-color:green;
}
.s {
    background-color: green;
}
.d{
    background-color: green;
}
.f{
    background-color: green;
}
.g{
    background-color: green;
}
.h{
    background-color: green;
}
.j{
    background-color: green;
}
.k{
    background-color: green;
}
.l{
    background-color: green;
}
.q{
    background-color: green;
}
.w{
    background-color: green;
}
.e{
    background-color: green;
}
.r{
    background-color: green;
}
.t{
    background-color: green;
}
.y{
    background-color: green;
}
.u{
    background-color: green;
}