table {
border-collapse: collapse;
width: 100%;


}

th {


background-color: rgb(153, 194, 180);


}

.a {
    background-color: lightgreen;
}
.s {
background-color: darkgreen;   
}
.d {
background-color: red;
}
.f{
    background-color: darkgoldenrod;
}
.g{
    background-color: red;
}
.h{
    background-color: red;
}
.j{
    background-color: lightgreen;
}
.k {
    background-color: darkgreen;
}
.l {
    background-color: darkgoldenrod;
}
.q {
    background-color: red;
}
.w {
    background-color: red;
}
.e {
    background-color: lightgreen;
}
.r {
    background-color: darkgreen;
}
.z {
    background-color: darkgoldenrod;
}
.x {
    background-color: red;
}
.c {
    background-color: red;
}
.t {
    background-color: lightgreen;
}
.y {
    background-color: darkgreen;
}
.u {
    background-color: darkgoldenrod;
}
.i{
    background-color: red;
}
.o{
    background-color: red;
}
.v {
    background-color: lightgreen;
}
.b {
    background-color: darkgreen;
}
.n{
    background-color: darkgoldenrod;
}
.m{
    background-color: red;
}
.a1{
    background-color: red;
}